/* body p{margin:0; padding: 0;} */
nav {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-left: auto;
}
nav a {
    color: black;
    text-decoration: none;
}
nav img {
    height: 20px;
    width: 20px;
}
nav a:hover {text-decoration: underline;}
main{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom:6%;
}
main img{
    width: 50%;
    height: 30%;
    margin-top: 10%;
}
#input {
    width: 80%;
    padding:1em;
    border-radius: 20px;
    border: 1px solid grey;
    margin-bottom: 20px;
}
#search-icon{
    margin-right: 80%;
    position: relative;
    top: 30px;
}
.fas fa-microphone {color: blue;}
#mic {
    margin-left: 80%;
    position: relative;
    bottom: 50px;
}

.btms_container button {
    padding: 10px;
    border: none;
    background-color: rgb(215, 223, 215);
    border-radius: 5px;
}
p {
    margin-top: 20px;
}
.image {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
p a {
    text-decoration: none;
}
p a:hover {
    text-decoration: underline;
}
div.footer {
    background-color: rgb(218, 211, 211);
    margin-top: 80px;
}
.footer-top {
    padding: 10px;
}
.footer-bottom {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;}
.left a {
    margin-right: 20px;
}
.right a {
    margin-left:10px ;
}

@media (max-width:600px){
    main img{
        width: 100%;
        height: 80%;
        margin-top: 30%;
    } 
    div.footer{
        margin-top: 90px;
    }
    .left a {
        margin-right: 5px;
    }
    .right a {
        margin-left:5px ;
    }
    .btms_container1{
        margin-bottom: 10px;
    }
}